fastmcp
paddleocr==2.10.0
pydantic==2.10.6
paddlepaddle
Pillow
# gradio==5.42.0
requests
# transformers
# torch --extra-index-url https://download.pytorch.org/whl/cpu
# accelerate
PyMuPDF
openai
python-docx
dingtalk-stream
python-dotenv
langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.31
langchain-text-splitters==0.3.9
langsmith==0.4.17
